form {
    background-color: #f5f5f5ec;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 500px;
    margin: 50px auto;
    text-align: left;
    font-size: 2.4vh;
}

body{
    background-color: #d6d4d4;
}

.form-group {
    margin-bottom: 18px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.box-submit {
    display: flex;
    justify-content: space-between;
}

.box-submit input[type="submit"],
.box-submit input[type="reset"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box-submit input[type="submit"]:hover,
.box-submit input[type="reset"]:hover {
    background-color: #6e6e6e;
}

.box-reset {
    display: flex;
    justify-content: space-between;
}

.box-reset input[type="submit"],
.box-reset input[type="reset"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box-reset input[type="submit"]:hover,
.box-reset input[type="reset"]:hover {
    background-color: #6e6e6e;
}

.checkbox {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline; 
}

.checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.checkbox label {
    align-items: center;
}

.ceklis {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ceklis [type="checkbox"] {
    width: 15px;
    height: 15px;
}

#pekerjaan {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #pekerjaan option {
    font-size: 14px;
    padding: 10px;
    background-color: #fff;
    color: #333;
}

#pekerjaan option:checked {
    background-color: #ddd;
    color: black;
}